body {margin:0;
padding:0;
}


nav  {
    background-color: red;
    height: 1.2rem;
}
nav ul li{
    display: inline-block;
    margin-top: 0;
    padding-inline: .5rem;
}
.color{background-color: yellow;}


.carousel{  background-color: darkgray;
    height:200px;
    max-width: 100%;
}
.title{ 
    color: black;
text-align: center;
font-size: 30px;}

.small{
    font-size: 15px;
}
.article{display: flex;
justify-content: space-around;}
article{background-color: blue;
height: 100px;}

hr {
    border: none;
    border-top: 3px double #333;
    color: #333;
    overflow: visible;
    text-align: center;
    height: 5px;
}